@layer base {
  :root {
    --primary: rgb(26, 43, 50);
    --secondary: rgb(37, 64, 77);
    --tertiary: rgb(50, 122, 138);
    --grey: rgb(169, 190, 200);
    --dark-cyan: rgb(52, 195, 190);
    --yellow: rgb(235, 171, 52);
    --primary-contrast: white;

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;

    --sm-br: 5px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Outfit", system-ui, sans-serif;
    font-size: clamp(16px, 3vw, 24px);
    background-color: var(--primary);
    color: var(--primary-contrast);
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }
}
