@layer component {
  #choose-players-modal {
    position: relative;
  }

  #close-player-modal {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #choose-players-form {
    display: grid;
    gap: var(--sm-gap);
    place-items: center;
  }

  #choose-players-list {
    width: 100%;
    padding: var(--sm-gap);
  }

  #choose-players-list > * {
    margin-bottom: 5px;
  }
}
