@layer component {
  #choose-players-form {
    display: grid;
    gap: var(--sm-gap);
    place-items: center;
  }

  #choose-players-list {
    width: 100%;
    padding: var(--sm-gap);
    border-radius: var(--sm-br);
  }

  #choose-players-list > * {
    margin-bottom: 5px;
  }
}
