@layer component {
  #game-board {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--m-gap);
  }

  #game-board button {
    width: 100%;
    padding-top: 100%;
    transition: 0.5s ease-in-out;
    border: none;
    outline: revert;
    box-sizing: border-box;
    background-color: var(--secondary);
    background-position: center -30px;
    border-radius: var(--sm-br);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
  }

  #game-board button:hover {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    outline: 1px solid var(--primary-contrast);
  }
}
