@layer component {
  #header-layout {
    padding: var(--l-gap);
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: space-between;
  }

  #logo-svg {
    display: none;
  }

  #user-list {
    position: fixed;
    bottom: 40px;
    right: -100px;
    background-color: var(--secondary);
    padding: var(--sm-gap);
    margin: 0;
    border-radius: var(--sm-br);
    border: 2px solid rgba(255, 255, 255, 0.5);
    list-style: none;
    text-align: center;
    max-height: 125px;
    overflow-y: scroll;
    transform: translateX(50%);
    transition: right 1s ease-in-out;
  }

  #user-list li {
    margin-bottom: var(--sm-gap);
  }

  #user-list.show-users {
    right: 50%;
  }

  @media (min-width: 400px) {
    #logo-svg {
      display: block;
    }
  }
}
