@layer component {
  .marked {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .cross {
    background-image: url(/assets/svg/icon-x.svg);
  }

  .x-outline {
    background-image: url(/assets/svg/icon-x-outline.svg);
  }

  .circle {
    background-image: url(/assets/svg/icon-o.svg);
  }

  .o-outline {
    background-image: url(/assets/svg/icon-o-outline.svg);
  }
}
