@layer component {
  .modal {
    position: relative;
    padding: calc(var(--l-gap) * 1.5);
    background-color: var(--tertiary);
    border-radius: var(--sm-br);
    border-width: 2px;
    border-color: var(--primary-contrast);
  }

  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
